---
---


a,
a:visited {
    color: black;
    text-decoration: none;
}

.headings, .h2, .h2after, .title, .credits {
  font-size: 63%;
  font-weight: bold;
  letter-spacing: 2.5px;
}


.credits {
  margin-top: 30px;
  color: blue;
  margin-bottom: -10px;
}

.item {
  margin-bottom: 4px;
}

.headings{
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: white;
  height: 1.7rem;
  padding-top: 20px;
  word-spacing: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

//
// @media screen and (min-width: 32rem) and (max-width: 48rem) {
//     html {
//         font-size: 20px;
//     }
// }
// @media screen and (min-width: 48rem) {
//     html {
//         font-size: 22px;
//     }
// }



body {
    line-height: 1.85;
}

/* https://github.com/mrmrs/fluidity */
canvas,
iframe,
img,
select,
svg,
textarea,
video {
    max-width: 100%;
}


iframe {
    display: block;
}
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);*/


html {
    font-size: 24px;
    max-width: 100%;
}

body {
    color: black;
    font-family: Helvetica,  Arial, sans-serif;
    // font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 100rem;
    line-height: 1.85;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
}

.giffy {

  padding-bottom: 25px
}

.caption {
  font-size: 45%;
  margin-bottom: 11px;
}

.top {
  margin-top: -50%;
}

.year {
  padding-top: 7px;
  vertical-align: top;
  width: 65px;
  max-width: 20%;
  font-size: 70%;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.data {
  width: 75%;
  font-size: 155%;
  //max-width: 35%;
  // margin-bottom: .4rem;

}

.section {
  padding-top: 15px;
  padding-bottom: 30px;
}



.h2 {
  color: blue;
}


p {
  font-size: 155%;
  // width: 730px;
  max-width: 100%;

}


.h2after {
  color: blue;
}

div {
  overflow: hidden;
}

#top {

}



.title {
    font-size: 80%;
    letter-spacing: 1.5px;
    padding-bottom: 17px;
    padding-top: 0;
}

.year, .data {
display: inline-block;
}


.underline {
     border-bottom: 1px solid #000;
     padding-bottom: 1px;

  }

  u{
  border-bottom: 2px solid black; /* <— Set line thickness here*/
  text-decoration: none;
  padding-bottom: 1px; /* <— Set distance here*/
  }

.active {
    background-color: #6E6E6E;
    color: black;
}

#main {
  margin-top: 2rem;
}

.everything {
  margin-top: 1.5rem;
}

@media only screen and
(max-width : 350px) {
.headings {
  left: 1rem;
}
.art {width: 100%;}
.data {
  width: 75%;}

}

@media only screen
 and (max-width: 600px) {
  html {
    font-size: 18px;
  }

  .art {width: 100%;}
  .section {
    padding-top: 5px;
  }

  .year {
    font-size: 70%;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-top: 15px
  }
  p, .data  {
      width: 100%;
      font-size: 100%;
      line-height: 130%;
  }


}


@media only screen
 and (min-width: 668px) and (max-width: 1199) {
   .h2 {
   margin-bottom: 10px;
  }
  .h2after {
    margin-top: -8px;
  }
   .entry {
     margin-top: -10px;
   }
   p {
       line-height: 125%;
   }
   .data {
      margin-top: 4px;
      line-height: 130%;
        max-width: 83%;
        padding-bottom:5px;

   }
   .everything, .everything2 {
     margin-left: 2.5rem;
   }
   .credits {margin-bottom: -20px}

   body {
     margin: none;
   }}




   @media only screen
    and (min-width: 1200px) {
      .h2 {
      margin-bottom: 10px;
     }
     .h2after {
       margin-top: -8px;
     }
      .entry {
        margin-top: -10px;
      }

      .data {
         margin-top: 4px;
         line-height: 130%;
           max-width: 83%;
           padding-bottom:5px;

      }
      .everything, .everything2 {
        margin-left: 2.5rem;
      }
      p, .data  {
          font-size: 155%;
          line-height: 130%;
      }
      .caption {
        font-size: 55%;
        margin-bottom: 11px;
      }
      .credits {margin-bottom: -20px}
      body {
        margin: none;
      }

   }
