---
---


a,
a:visited {
    color: black;
    text-decoration: none;
}

.headings, .h2, .h2after, .title, .credits {
  font-size: 63%;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.credits {
  margin-top: 30px;
  color: blue;
  margin-bottom: -10px;
}

.item {
  margin-bottom: 13px;
}

.headings{
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: white;
  height: 2rem;
  padding-top: 20px;
  word-spacing: 1rem;
  text-transform: uppercase;
}


@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 48rem) {
    html {
        font-size: 22px;
    }
}






body {
    line-height: 1.85;
}

/* https://github.com/mrmrs/fluidity */
canvas,
iframe,
img,
select,
svg,
textarea,
video {
    max-width: 100%;
}
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);*/


html {
    font-size: 24px;
    max-width: 100%;
}

body {
    color: black;
    font-family: Helvetica,  Arial, sans-serif;
    // font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.45;
    padding: 30px;
}

.giffy {

  padding-bottom: 25px
}
.top {
  margin-top: -50%;
}

.year {
  padding-top: 5px;
  vertical-align: top;
  width: 75px;
  max-width: 20%;
  font-size: 70%;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.data {
  width: 625px;
  max-width: 83%;
}

.section {
  padding-top: 15px;
  padding-bottom: 30px;
}

.year, .data {
display: inline-block;
}

.h2 {
  color: blue;
}


p {
  width: 700px;
  max-width: 100%;

}


.h2after {
  color: blue;
}

div {
  overflow: hidden;
}

#top {

}



.title {
    font-size: 80%;
    letter-spacing: 1.5px;
    padding-bottom: 17px;
    padding-top: 0;
}


.underline {
     border-bottom: 1px solid #000;
     padding-bottom: 1px;

  }



.active {
    background-color: #6E6E6E;
    color: black;
}

#main {
  margin-top: 2rem;
}



@media only screen and
(max-device-width : 350px) {
.headings {
  left: 1rem;
}

}

@media only screen
 and (max-device-width: 600px) {
  html {
    font-size: 18px;
  }
  .section {
    padding-top: 5px;
  }
  .year {
    font-size: 70%;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-top: 15px
  }
  p, .data  {
      line-height: 130%;
  }


}


@media only screen
 and (min-device-width: 600px) {
   .h2 {
   margin-bottom: 10px;
  }
  .h2after {
    margin-top: -8px;
  }
   .entry {
     margin-top: -10px;
   }
   p {
       line-height: 125%;
   }
   .data {
      line-height: 125%;
   }

}
