---
layout : default
permalink: /about/
---

<div class = "everything2">


<div class = "headings">
<span class = "underline">ABOUT</span> <a href="{{ site.baseurl }}/"> EXHIBITIONS</a> {% comment %} <a href="{{ site.baseurl }}/atlas/">ATLAS</a> {% endcomment%}
</div>


<div id = "main">

<!-- <div class = "h2">
NEWS
</div>

<div class = "news">
Lorem ipsum dolor set amet. Blar diene dlsdfjsld rrrrr ssss dfsdfsdf hfhfh sdfeed ddf and do sisches.
</div>

{::options parse_block_html="false" /}

<div class = "giffy">
<img src="images/LAYERS_for-GIF_Monet_2_lessframes_TINY.gif">
</div> -->

<div class = "infotext">
<p> 
In my work, I use fabric to explore how we see and remember images. I try, whenever possible, to resist hierarchical structures that control access to images and to work with images from the bottom of the pile. I also unravel fabric to examine the ways in which people relate to one another and to talk about loss of matter and memory.
</p>
</div>

<div class = "infotext2">
  <p>
fabienne.hess (at) gmx.ch <br>
Instagram: <a href= "https://www.instagram.com/fabienne_hess/?hl=en" target="_blank"> fabienne_hess<br>
  b. Switzerland, based in London<br>
  <a></p>
</div>



<div class = "giffy">
<img src="/gifs/LAYERS_for-GIF_Kelly_Tiny.gif">
</div>



<div class = "h2">
SOLO EXHIBITIONS
</div>


<div class = section>
{% for exhibit in site.data.solo %}
<div class = "entry">
  <div class = "year">
    <span class ="top">{{ exhibit.year }}
  </span></div>
   <div class = "data">{{ exhibit.title }}</div>
</div>
{% endfor %}
</div>

<div class = "giffy">
<img src="/gifs/Robert-Ryman_4_TINY.gif">
</div>






<div class = "h2">
SELECTED GROUP EXHIBITIONS
</div>


<div class = section>
{% for exhibit in site.data.group %}

<div class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>

<div class = "giffy">
<img src="/gifs/IBK_tiny_2.gif">
</div>




<div class = "h2">
SELECTED SCREENINGS / TALKS
</div>


<div class = section>
{% for exhibit in site.data.screenings %}

<div  class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>

<div class = "giffy">
<img src="/gifs/LAYERS_for-GIF_Olympia_1_lessframes_TINY.gif">
</div>



<div class = "h2">
PUBLICATIONS / REVIEWS
</div>


<div class = section>
{% for exhibit in site.data.pubs %}

<div class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>

<div class = "giffy">
<img src="/gifs/Who-is-afraid_5_lessframes_TINY.gif">
</div>



<div class = "h2">
COMMISSIONS
</div>


<div class = section>
{% for exhibit in site.data.commissions %}

<div class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>

<div class = "giffy">
<img src="/gifs/LAYERS_for-GIF_Monet_2_lessframes_TINY.gif">
</div>







<div class = "h2">
RESIDENCIES
</div>


<div class = section>
{% for exhibit in site.data.residencies %}

<div class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>



<div class = "h2">
PRIZES/GRANTS
</div>


<div class = section>
{% for exhibit in site.data.prizes %}

<div class = "entry">
  <div class = "year">
  <span class ="top">{{ exhibit.year }}</div>
  </span>
   <div class = "data">{{ exhibit.title }}</div>
</div>



{% endfor %}
</div>



<div class = "h2">
TEACHING
</div>
<div class = "infotext3">
 <p>Associate Lecturer at London College of Fashion, London College of Communication and Central Saint Martins.</p>

</div>


<div class = "h2">
SCHOOLS
</div>

<div class = "section">

  <div class = "entry">
    <div class = "year">
    <span class ="top">2012</div>
    </span>
     <div class = "data">Master of Arts, <u>Royal College of Art</u>, London</div>
  </div>

<div class = "entry">
  <div class = "year">
  <span class ="top">2004</div>
  </span>
   <div class = "data">Diploma in graphic design, <u>Berufsschule für Gestaltung</u>, Zürich</div>
</div>



</div>



<div class = "entry">
<div class = "giffy">
<img src="/gifs/LAYERS_for-GIF_Malevich_1_TINY.gif">
</div>

<div class = "infotext">
<p> Image archives (Bastards): Spectrum IV; Twin; International Klein Blue; Olympia; Who’s Afraid of Red, Yellow and Blue III; Impression, Sunrise; Black Square. </p>

<p>This website has been built with the help of <a href= "http://danielrothschild.com/" target="_blank"> Daniel Rothschild </a> using jekyll.</p>

</div>

</div>
