---
layout : default
---

<div class = "everything">

<div class = "headings">
<a href="{{ site.baseurl }} /about/"> ABOUT</a> <span class = "underline">EXHIBITIONS</span> {% comment %}<a href="{{ site.baseurl }} /atlas/">ATLAS</a>{% endcomment %}
</div>

{% for item in site.data.work %}

{% if item.type == "image" %}

<div class = "item">

  <img src= "{{ site.baseurl }}/images/{{ item.filename}}" width="{{ item.percentage }}%" class="art">

</div>

<div class = "caption">
{{ item.caption }}
</div>

{% endif %}

{% if item.type == "vimeo" %}
<div class = "item">
  {{ item.code }}
</div>
<div class = "caption">
{{ item.caption }}
</div>
{% endif %}

{% endfor %}
