---
layout : default
---

<div class = "everything", class = "collection">
<div class = "headings">
<a href="{{ site.baseurl }} /about/"> ABOUT </a> <span class = "underline">WORK</span> <a href="{{ site.baseurl }} /inprogress/">IN-PROGRESS</a>
</div>

{% for item in site.data.work %}

{% if item.type == "image" %}

<div class = "item">

  <img src= "{{ site.baseurl }}/images/{{ item.filename}}">

</div>

{% endif %}

{% if item.type == "vimeo" %}

<div class = "item">
  {{ item.code }}
</div>

{% endif %}

{% endfor %}


<div class = "credits">
  PHOTOGRAPHIC CREDITS
</div>

<p>
  Birch Contemporary, Fabienne Hess, Like A Little Disaster, Chris Park, Antonia Reeve, Tenderbooks and the University of Edinburgh.
</p>

</div>
